<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shop</title>
    <link rel="stylesheet" href="style3.css" />
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="logo">SUPER SHOP</div>
        <div class="cart">
          <form action="#" class="search-form" @submit.prevent="filter">
            <input type="text" class="search-field" v-model="userSearch" />
            <button class="btn-search" type="submit">
              <i class="fa fa-light fa fa-magnifying-glass"></i>
            </button>
          </form>
          <button class="btn-cart" type="button" @click="show = !show">Корзина</button>
          <div class="cart-block" v-show="show">
            <div class="cart-header cart-style">
              <div>Товар</div>
              <div>Название товара</div>
              <div>Количество</div>
              <div>Цена за шт.</div>
              <div>Итого</div>
              <div></div>
            </div>
            <div class="cart-item" v-for="item of cartItems" :key="item.id_product">
              <img :src="imgCart" :alt="img">
              <p class="product-title">{{item.product_name}}</p>
              <p class="product-quantity">{{item.quantity}}</p>
              <p class="single-price">{{item.price}}</p>
              <p class="total price">{{item.quantity * item.price}}</p>
              <button class="dlt-btn" @click="remove(item)">X</button>
            </div>
          </div>
        </div>
      </header>
      <main class="container">
        <div class="products">
          <div
            class="products-item"
            v-for="product of filtered"
            :key="product.id_product"
          >
            <img :src="imgProduct" alt="img" />
            <div class="desc">
              <h3>{{product.product_name}}</h3>
              <p>{{product.price}} $</p>
              <button class="buy-btn" @click="addProduct()">Купить</button>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script
      src="https://kit.fontawesome.com/0886f682cb.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
    <script src="main4.js"></script>
    <!-- <script src="main3.js"></script> -->
    <!-- <script src="basket.js"></script> -->
  </body>
</html>
